<h1>Click on one of the pictures below to explore more!</h1>
<div class="grid-container">
  <div class="grid-item"> <a routerLink="/Planets">Planets <img src="../../../assets/planet.png"></a></div>
  <div class="grid-item"><a routerLink="/People">People <img src="../../../assets/people.jpg"></a></div>
  <div class="grid-item"><a routerLink="/Species">Species <img src="../../../assets/species.jpg"></a></div>
  <div class="grid-item"><a routerLink="/Starships">Starships <img src="../../../assets/starships.jpg"></a></div>
  <div class="bottom-item">
    <div class="grid-item"><a routerLink="/Vehicles">Vehicles <img src="../../../assets/vehicles.jpeg"></a></div>
  </div>
</div>
