<div class="content-container">
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
  <div class="navbar">
    <ul>
      <li class="navbar-item"><a routerLink="/Home">Home</a></li>
      <li class="navbar-item"><a routerLink="/Planets">Planets</a></li>
      <li class="navbar-item"><a routerLink="/People">People</a></li>
      <li class="navbar-item"><a routerLink="/Species">Species</a></li>
      <li class="navbar-item"><a routerLink="/Starships">Starships</a></li>
      <li class="navbar-item"><a routerLink="/Vehicles">Vehicles</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
